@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: 'Playfair Display', serif;
  
}

body{
  background: #d4dbe1;
background: linear-gradient(0deg, #b4c3ff 14%, #f0f3ff 100%);
  
}

h1{
  text-decoration: italic;
}
h4, p,

a{
  color: rgb(16, 13, 97);

  text-decoration: none;
}

ul{
  list-style-type: none;
}